.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/
*.log

# Built Visual Studio Code Extensions
*.vsix

__pychache__/*

Modules/Addons/yolov3.weights
*.avi